<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> 	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
	<!-- Brand and toggle get grouped for better mobile display -->


	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav">
			<li class="dropdown">
			  <a class="dropdown-toggle btn-info" data-toggle="dropdown" role="button" aria-haspopup="true" style="font-weight:800; margin:5%; border-style:double; border-width:6px; color:white;">Menu </a>
			  <ul class="dropdown-menu">
				<li><%= link_to "All articles", articles_path %></li>
				<li role="separator" class="divider"></li>
				<li >
					<span style="font-weight:600; color:blue; margin-left:12%; padding:0; text-align:right;">
						<%= link_to "New article", new_article_path %>
					</span>
				</li>
			  </ul>
			</li>
		</ul>
	  
		<ul class="nav navbar-nav navbar-right">
			<div class="container-fluid">
				<h2>
					<% if user_signed_in? %>
						Hello, <%= current_user.username %> | <%= link_to "Sign out...", destroy_user_session_path, method: :delete %>
					<% else %>
						<%= link_to "Sign in!", new_user_session_path %> 
					<% end %>
				</h2>
			</div>
		 
		</ul>
	</div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
